{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 titles text-center">
        <h1> Edit Book </h1>
    </div>
</div>

<div class="row text-center">

        <div class="col-md-4">

        </div>

        <div class="col-md-4 font form">
            <form action="{{url_for('editBook', genre_id = genre_id, book_id = book.id)}}" method = 'POST'>
                <table class="form">
                    <tr>
                        <td>
                            Book Name
                        </td>
                        <td>
                            <input class="text-font" type='text' name='name' value = {{book.name}}>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Description
                        </td>
                        <td>
                            <input class="text-font" type='text' name='description' value = {{book.description}}>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Price
                        </td>
                        <td>
                            <input class="text-font" type='text' name='price' value = {{book.price}}>
                        </td>
                    </tr>
                </table>
                <input class="form-buttons text-center" type='submit' value='Update'>
            </form>

            <form class="text-center">
                <button class="form-buttons" formaction="{{url_for('displayBooks', genre_id = genre_id)}}">Cancel</button>
            </form>
        </div>
</div>

{% endblock %}
