{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center text-capitalize titles">
        <h2>{{book.name}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-right">
        <img src="/static/images/{{book['picture']}}">
    </div>
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-8 titles">
                <h4>Description</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{book.description}}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8 titles">
                Price: ${{book.price}}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 error">
        {{error}}
    </div>
</div>

{% endblock %}