{% extends "base.html" %}

{% block content %}

{% if not error %}
    <div class="row">
        <div class="col-md-6 titles genres-sub-title">
            <h3>Genres</h3>
        </div>

        <div class="col-md-6 text-left titles sub-title">
            <h2>Recently Added Books</h2>
        </div>
    </div>

<div class="row ">
            <div class="col-md-3">
    {% for genre in genres %}
                <table class="table-hover genre-table">
                    <tr>
                        <td class="col-md-3 text-capitalize">
                            <a class="font" href="{{url_for('displayBooks', genre_id = genre.id)}}">{{genre.name}}</a>
                        </td>
                    </tr>
                </table>
    {% endfor %}
            </div>


            <div class="col-md-9">
                <div class="row book-images">
                    <div class="col-md-3">
                        {% if recent_books[0] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[0]['genre_id'], book_id = recent_books[0]['id'])}}"><img src="/static/images/{{recent_books[0]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[1] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[1]['genre_id'], book_id = recent_books[1]['id'])}}"><img src="/static/images/{{recent_books[1]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[2] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[2]['genre_id'], book_id = recent_books[2]['id'])}}"><img src="/static/images/{{recent_books[2]['picture']}}"></a>
                        {% endif %}
                    </div>
                </div>

                <div class="row book-images">
                    <div class="col-md-3">
                        {% if recent_books[3] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[3]['genre_id'], book_id = recent_books[3]['id'])}}"><img src="/static/images/{{recent_books[3]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[4] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[4]['genre_id'], book_id = recent_books[4]['id'])}}"><img src="/static/images/{{recent_books[4]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[5] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[5]['genre_id'], book_id = recent_books[5]['id'])}}"><img src="/static/images/{{recent_books[5]['picture']}}"></a>
                        {% endif %}
                    </div>
                </div>

                <div class="row book-images">
                    <div class="col-md-3">
                        {% if recent_books[6] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[6]['genre_id'], book_id = recent_books[6]['id'])}}"><img src="/static/images/{{recent_books[6]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[7] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[7]['genre_id'], book_id = recent_books[7]['id'])}}"><img src="/static/images/{{recent_books[7]['picture']}}"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if recent_books[8] %}
                        <a href="{{url_for('oneBook', genre_id = recent_books[8]['genre_id'], book_id = recent_books[8]['id'])}}"><img src="/static/images/{{recent_books[8]['picture']}}"></a>
                        {% endif %}
                    </div>
                </div>
            </div>


</div>

{% else %}
    {{error}}

{% endif %}
<!--     </div>
</div> -->
{% endblock %}